/***************************************
	Round Textfield
***************************************/
.roundTextfield {
	float: left;	
}
.tfStart {
	background: url(/images/global/textfield.gif) 0 0 no-repeat;
	height: 27px;
	float: left;
}
.tfStart input, select {
	border: 0 none white;
	margin: 5px 0 0 5px;
}

.tfEnd {
	background: url(/images/global/textfield.gif) -290px -27px no-repeat;
	height: 27px;
	width: 5px; 
	float: left;
}

/***************************************
	Button
***************************************/
.button {
	cursor: pointer;
	float: left;
}
.btStart {
	background: url(/images/global/button.png) 0 0 no-repeat;
	height: 32px;
	float: left;
	padding: 7px 5px 0 10px;
	font-weight: bold;
	font-size: 12px;
	color: #633917;
}
.btEnd {
	background: url(/images/global/button.png) -238px -32px no-repeat;
	height: 32px;
	width: 9px; 
	float: left;
}

/***************************************
	Rounded corners panel
***************************************/

.roundedCorners_tl {
	background: url(/images/global/formCorner_tl.gif) no-repeat;
}
.roundedCorners_tm {
	background: url(/images/global/formCorner_tm.gif) 0 0 repeat-x;
	height: 17px;
}
.roundedCorners_tr {
	background: url(/images/global/formCorner_tr.gif) 100% 0 no-repeat;
	height: 17px;
	width: 17px;
}
.roundedCorners_ml, .roundedCorners_mm, .roundedCorners_mr {
	background-color: #ffc744;
}
.roundedCorners_ml {
	background: url(/images/global/formCorner_ml.gif) 0 0 repeat-y;
	width: 17px;
}
.roundedCorners_mr {
	background: url(/images/global/formCorner_mr.gif) 100% 0 repeat-y;
	width: 17px;
}
.roundedCorners_bl {
	background: url(/images/global/formCorner_bl.gif) 0 0 no-repeat;
	width: 17px;
}
.roundedCorners_bm {
	background: url(/images/global/formCorner_bm.gif) 0 100% repeat-x;
	height: 17px;
}
.roundedCorners_br {
	background: url(/images/global/formCorner_br.gif) 100% 100% no-repeat;
	height: 17px;
}

